html {
  background-color: #4f4732;
  scroll-behavior: smooth;
  font-family: "Oooh Baby", cursive;
  font-size: 100%;
  overflow-x: hidden;
}
body {
  margin: 0;
  overflow-x: hidden;
}
#bookmarksbar {
  position: absolute;
  list-style: none;
  white-space: nowrap;
  width: 95vw;
  margin: 2vh 5vw 2vh 0vw;
  gap: 5vw;
  padding: 0;
  display: flex;
  justify-content: flex-end;
  z-index: 12;
}
#bookmarksbar a {
  position: relative;
  text-decoration: none;
  color: #fef8d6;
  font-size: calc(1rem + 2vw);
}
#bookmarksbar a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 5%;
  border-radius: 50%;
  background-color: #fef8d6;
  bottom: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}
#bookmarksbar a:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}
#bookmarksbar a:focus::before {
  transform-origin: left;
  transform: scaleX(1);
}
section {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
section img {
  position: absolute;

  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#sun {
  z-index: 7;
  transform: translate(-25%, calc(-30% - 4vw));
}
#mid {
  z-index: 8;
}
#name {
  position: absolute;
  color: #fef8d6;
  font-size: calc(1.3rem + 4vw);
  z-index: 9;
  white-space: nowrap;
  transform: translateY(20%);
}
#front {
  z-index: 10;
}
#arrow {
  position: relative;
  z-index: 11;
  transform: translateY(calc(100% + 40vh));
}
#arrow {
  height: calc(3.8rem - 2.6vh);
}
#arrow:active {
  background-color: none;
}
#arrowtoppage {
  display: none;
  position: fixed;
  cursor: pointer;
  background-color: none;
  bottom: 15vh;
  right: 2.5vw;
  z-index: 14;
}
#arrowtoppage {
  height: calc(3.8rem - 2.6vh);
}
main div {
  background-color: #4f4732;
  height: 100%;
  z-index: 13;
}
.text {
  position: relative;
  padding: 0 6vw 0 6vw;
  font-size: calc(1rem + 0.5vw);
  color: #fef8d6;
  bottom: 0;
}
.text h3 {
  font-size: calc(1rem + 2vw);
  padding-top: 2%;
  margin-top: 0;
}
