<div
  class="col-white-bg rounded-4 p-4 d-flex flex-column align-items-start"
  animation-index="9"
  style="width: 334px"
>
  <img class="mb-4" src="./src/assets/icons/pen.svg" style="height: 40px" alt="pen" />
  <span class="fam-mon-med fs-28 mb-2">Projekty</span>
  <span class="fam-int-reg fs-14 mb-5"
    >Zaprojektujemy Twój ogród w nowoczesnym stylu i z najlepszym wykorzystaniem istniejącej
    przestrzeni.</span
  ><span class="mt-3">
    <a class="col-green text-decoration-none fam-int-reg underline-expanding" href="#"
      >Dowiedz się więcej
      <svg
        width="16"
        height="16"
        viewBox="0 0 16 16"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
        class="ms-1"
      >
        <path
          d="M7.99528 -1.20755e-06L7.09959 0.895696L13.5769 7.36358L-7.5502e-07 7.36358L-6.43745e-07 8.63642L13.5675 8.63642L7.09959 15.1043L7.99529 16L16 7.99529L7.99528 -1.20755e-06Z"
          fill="#1B5B31"
        />
      </svg>
    </a>
  </span>
</div>
<div
  class="col-white-bg rounded-4 p-4 d-flex flex-column align-items-start"
  animation-index="8"
  style="width: 334px"
>
  <img class="mb-4" src="./src/assets/icons/eye.svg" style="height: 40px" alt="pen" />
  <span class="fam-mon-med fs-28 mb-2">Wizualizacje</span>
  <span class="fam-int-reg fs-14 mb-5"
    >Przedstawimy Ci projekty koncepcyjne w postaci wirtualnego spaceru animowanego w technologii
    3D.</span
  ><span class="mt-3">
    <a class="col-green text-decoration-none fam-int-reg underline-expanding" href="#"
      >Dowiedz się więcej
      <svg
        width="16"
        height="16"
        viewBox="0 0 16 16"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
        class="ms-1"
      >
        <path
          d="M7.99528 -1.20755e-06L7.09959 0.895696L13.5769 7.36358L-7.5502e-07 7.36358L-6.43745e-07 8.63642L13.5675 8.63642L7.09959 15.1043L7.99529 16L16 7.99529L7.99528 -1.20755e-06Z"
          fill="#1B5B31"
        />
      </svg>
    </a>
  </span>
</div>
<div
  class="col-white-bg rounded-4 p-4 d-flex flex-column align-items-start"
  animation-index="7"
  style="width: 334px"
>
  <img class="mb-4" src="./src/assets/icons/stars.svg" style="height: 40px" alt="pen" />
  <span class="fam-mon-med fs-28 mb-2">Realizacje</span>
  <span class="fam-int-reg fs-14 mb-5"
    >Zrealizujemy Twoje marzenie przy użyciu najnowszych rozwiązań i zaawansowanych
    technologii.</span
  ><span class="mt-3">
    <a class="col-green text-decoration-none fam-int-reg underline-expanding" href="#realizations"
      >Zobacz nasze realizacje
      <svg
        width="16"
        height="16"
        viewBox="0 0 16 16"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
        class="ms-1"
      >
        <path
          d="M7.99528 -1.20755e-06L7.09959 0.895696L13.5769 7.36358L-7.5502e-07 7.36358L-6.43745e-07 8.63642L13.5675 8.63642L7.09959 15.1043L7.99529 16L16 7.99529L7.99528 -1.20755e-06Z"
          fill="#1B5B31"
        />
      </svg>
    </a>
  </span>
</div>
