<div class="d-flex flex-column w-100 py-5 ps-sm-5">
  <span class="fam-int-reg fs-12 col-white">O firmie</span>
  <span class="fam-mon-med fs-48-sm me-5 mb-3 col-white" animation-index="5"
    >Tworzymy z <span class="fam-int-med-ita">pasją</span></span
  >
  <span class="fam-int-reg col-white w-sm-75 mb-5" animation-index="6"
    >Każdy projekt to nowe wyzwanie. Dlatego nasz zespół tworzą wykwalifikowani projektanci oraz
    architekci, których zadaniem jest rozpoznanie i realizacja potrzeb każdego Klienta. Nasza
    specjalizacja to przestrzenie nowoczesne, które charakteryzuje minimalizm, geometria i elegancka
    prostota. Tworzymy ogrody małoobsługowe, dostosowane do współczesnego trybu życia.
  </span>
  <a
    class="btn rounded-pill button-outline-white d-flex align-items-center gap-2 mt-4 me-auto"
    animation-index="13"
    href="#realizations"
  >
    <span>Poznaj nas bliżej</span>
    <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path
        d="M7.99528 -1.20755e-06L7.09959 0.895696L13.5769 7.36358L-7.5502e-07 7.36358L-6.43745e-07 8.63642L13.5675 8.63642L7.09959 15.1043L7.99529 16L16 7.99529L7.99528 -1.20755e-06Z"
        fill="currentColor"
      />
    </svg>
  </a>
</div>
