<div id="carouselAbout" class="carousel slide h-100" data-bs-ride="carousel">
  <div id="about-carousel-inner" class="carousel-inner h-100">
    <div class="carousel-item h-100 active">
      <img
        src="./src/assets/imgs/inspirations/inspiration13/2.jpg"
        class="d-block w-100 h-100"
        alt="..."
      />
    </div>
    <div class="carousel-item h-100">
      <img
        src="./src/assets/imgs/inspirations/inspiration7/4.jpg"
        class="d-block w-100 h-100"
        alt="..."
      />
    </div>
    <div class="carousel-item h-100">
      <img
        src="./src/assets/imgs/inspirations/inspiration9/2.jpg"
        class="d-block w-100 h-100"
        alt="..."
      />
    </div>
  </div>
  <button
    class="carousel-control-prev"
    type="button"
    data-bs-target="#carouselAbout"
    data-bs-slide="prev"
  >
    <!-- <span class="carousel-control-prev-icon" aria-hidden="true"></span> -->
    <span class="visually-hidden">Previous</span>
  </button>
  <button
    class="carousel-control-next"
    type="button"
    data-bs-target="#carouselAbout"
    data-bs-slide="next"
  >
    <!-- <span class="carousel-control-next-icon" aria-hidden="true"></span> -->
    <span class="visually-hidden">Next</span>
  </button>
</div>
