<div class="gallery-container d-flex flex-column w-100 h-75">
  <div class="d-flex justify-content-end w-100 p-3 mt-3" data-bs-theme="dark">
    <button
      type="button"
      class="btn-close"
      aria-label="close-gallery"
      aria-controls="gallery"
    ></button>
  </div>
  <div class="w-100 h-100 flex-grow-1 px-3">
    <div id="carouselInspiration" class="carousel slide w-100 h-100">
      <div class="carousel-indicators"></div>
      <div id="realizations-carousel-inner" class="carousel-inner h-100"></div>
      <button
        class="carousel-control-prev"
        type="button"
        data-bs-target="#carouselInspiration"
        data-bs-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button
        class="carousel-control-next"
        type="button"
        data-bs-target="#carouselInspiration"
        data-bs-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
</div>
