<div id="carouselIntro" class="carousel slide h-100" data-bs-ride="carousel" data-bs-interval="3000">
  <div id="intro-carousel-inner" class="carousel-inner h-100">
    <div class="carousel-item h-100 active">
      <img
        src="./src/assets/imgs/inspirations/inspiration7/4.jpg"
        class="d-block w-100 h-100"
        alt="..."
      />
    </div>
    <div class="carousel-item h-100">
      <img
        src="./src/assets/imgs/inspirations/inspiration6/1.jpg"
        class="d-block w-100 h-100"
        alt="..."
      />
    </div>
    <div class="carousel-item h-100">
      <img
        src="./src/assets/imgs/inspirations/inspiration9/2.jpg"
        class="d-block w-100 h-100"
        alt="..."
      />
    </div>
    <div
      class="col-grey-bg position-absolute d-flex"
      style="right: 0; bottom: 0; width: 192px; height: 96px"
    >
      <button
        class="m-4 carousel-control-prev"
        type="button"
        data-bs-target="#carouselIntro"
        data-bs-slide="prev"
        style="width: 48px; height: 48px"
      >
        <span class="carousel-control-prev-icon"></span>
        <span class="visually-hidden">Previous</span>
      </button>

      <button
        class="m-4 carousel-control-next"
        type="button"
        data-bs-target="#carouselIntro"
        data-bs-slide="next"
        style="width: 48px; height: 48px"
      >
        <span class="carousel-control-next-icon"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
</div>
